---
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Kirsten Laskoski" />
    <title>kirsten.pl</title>

    <meta property="og:title" content="kirsten.pl" />
    <meta property="og:description" content="Kirsten's website" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="https://kirsten.pl" />
  </head>
  <body>
    <slot />
  </body>
</html>
